html,body{
    padding:0;
    margin:0;
    background-color: #eee;
    color:#000;
    a{
        text-decoration:none;
    }
}
.fr{
    float:right;
}
.fl{
    float:left;
}
.top-wrapper{
    width:100%;
    height:100%;
    position:fixed;
    background: url("../image/home1.jpg") no-repeat center;
}